.size{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.size2{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.size3{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}